<h1>New Category</h1>
<div class="ui form">
  <form>
    <div class="field">
      <label for="category">Category Name</label>
      {{input value=category id="category"}}
    </div>
    <button class="black ui button tiny" {{action 'saveCategory' model}}>Save Category</button>
  </form>
</div>
