<h1>New Category</h1>
<div class="ui form">
  <form>
    <div class="field">
      <label for="categoryName">Category Name</label>
      {{input value=categoryName id="categoryName"}}
    </div>
    <button class="black ui button tiny" {{action 'saveCategory'}}>Save Category</button>
  </form>
</div>
